<div class="comment-card">
  <div class='card'>
    <div class='card-block'>
      <div class='row'>
        <div class='md-col-1'>
        </div>
        <div class='md-col-11'>
          <%= comment.context %>
        </div>
      </div>
    </div>
  </div>
</div>