<div class="album text-muted">
  <div class="container">
    <div data-controller="drag" data-drag-url="/portfolios/:id/move" class="row">
      <%= render partial: 'portfolio_item', collection: @portfolio_items.order(position: :asc) %>
    </div>
  </div>
</div>