<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Anurag Bhaskar. <em>Engineer.</em> Learning about Ruby on Rails through a course and making an application.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/anurag-coupa"><%= fa_icon "github" %></a></li>
      <li><a href="https://facebook.com/anuragdbhaskar/"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://twitter.com/lBamboozlingl"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://instagram.com/anuragb_10/"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>