<h1>Contact</h1>
<p><%= number_to_phone "5555555555" %></p>

<p><%= number_to_currency "454854" %></p>

<p><%= number_to_percentage "75.4" %></p>

<p><%= number_with_delimiter "716589468124072398" %></p>
